doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    title WELCOME
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0 ")
    meta(name="format-detection" content="telephone=no")
    // [if !mso] <!
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
    // <![endif]
    style(type="text/css").
      body {
      -webkit-text-size-adjust: 100% !important;
      -ms-text-size-adjust: 100% !important;
      -webkit-font-smoothing: antialiased !important;
      }
      img {
      border: 0 !important;
      outline: none !important;
      }
      p {
      Margin: 0px !important;
      Padding: 0px !important;
      }
      table {
      border-collapse: collapse;
      mso-table-lspace: 0px;
      mso-table-rspace: 0px;
      }
      td, a, span {
      border-collapse: collapse;
      mso-line-height-rule: exactly;
      }
      .ExternalClass * {
      line-height: 100%;
      }
      span.MsoHyperlink {
      mso-style-priority:99;
      color:inherit;}
      span.MsoHyperlinkFollowed {
      mso-style-priority:99;
      color:inherit;}
    style(media="only screen and (min-width:481px) and (max-width:599px)" type="text/css").
      @media only screen and (min-width:481px) and (max-width:599px) {
      table[class=em_main_table] {
      width: 100% !important;
      }
      table[class=em_wrapper] {
      width: 100% !important;
      }
      td[class=em_hide], br[class=em_hide] {
      display: none !important;
      }
      img[class=em_full_img] {
      width: 100% !important;
      height: auto !important;
      }
      td[class=em_align_cent] {
      text-align: center !important;
      }
      td[class=em_aside]{
      padding-left:10px !important;
      padding-right:10px !important;
      }
      td[class=em_height]{
      height: 20px !important;
      }
      td[class=em_font]{
      font-size:14px !important;
      }
      td[class=em_align_cent1] {
      text-align: center !important;
      padding-bottom: 10px !important;
      }
      }
    style(media="only screen and (max-width:480px)" type="text/css").
      @media only screen and (max-width:480px) {
      table[class=em_main_table] {
      width: 100% !important;
      }
      table[class=em_wrapper] {
      width: 100% !important;
      }
      td[class=em_hide], br[class=em_hide], span[class=em_hide] {
      display: none !important;
      }
      img[class=em_full_img] {
      width: 100% !important;
      height: auto !important;
      }
      td[class=em_align_cent] {
      text-align: center !important;
      }
      td[class=em_align_cent1] {
      text-align: center !important;
      padding-bottom: 10px !important;
      }
      td[class=em_height]{
      height: 20px !important;
      }
      td[class=em_aside]{
      padding-left:10px !important;
      padding-right:10px !important;
      }
      td[class=em_font]{
      font-size:14px !important;
      line-height:28px !important;
      }
      span[class=em_br]{
      display:block !important;
      }
      }
  body(style="margin:0px; padding:0px;" bgcolor="#ffffff")
    table(width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff")
      // === PRE HEADER SECTION===
      tr
        td(align="center" valign="top" bgcolor="#293592")
          table.em_main_table(width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="table-layout:fixed;")
            tr
              td.em_hide(style="line-height:0px; font-size:0px;" width="600" bgcolor="#30373b")
                img(src="images/spacer.gif" height="1" width="600" style="max-height:1px; min-height:1px; display:block; width:600px; min-width:600px;" border="0" alt="")
            tr
              td(valign="top")
                table.em_wrapper(width="600" cellpadding="0" cellspacing="0" border="0" align="center")
                  tr
                    td.em_height(height="10" style="font-size:1px; line-height:1px;")  
                  tr
                    td(valign="top")
                      table(width="100%" border="0" cellspacing="0" cellpadding="0")
                        tr
                          td(valign="top")
                            table.em_wrapper(width="150" border="0" cellspacing="0" cellpadding="0" align="right")
                              tr
                                td.em_align_cent1(align="right" style="font-family:'Open Sans', Arial, sans-serif; font-size:12px; line-height:16px; color:#848789; text-decoration:underline;")
                                  a(style="color:#293592;") View online
                  tr
                    td.em_height(height="10" style="font-size:1px; line-height:1px;")  
      // === //PRE HEADER SECTION===
      // === BODY SECTION===
      tr
        td(align="center" valign="top" bgcolor="#ffffff")
          table.em_main_table(width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="table-layout:fixed;")
            // === LOGO SECTION ===
            tr
              td.em_height(height="40")  
            tr
              td(align="center")
                a(href="#" target="_blank" style="text-decoration:none;")
                  img(src=front + "/imgs/mail/Logo.png" width="230" height="110" style="display:block;font-family: Arial, sans-serif; font-size:15px; line-height:18px; color:#293592;  font-weight:bold;" border="0" alt="ToppenStore")
            tr
              td.em_height(height="30")  
            // === //LOGO SECTION ===
            // === NEVIGATION SECTION ===
            tr
              td(height="1" bgcolor="#293592" style="font-size:0px; line-height:0px;")
                img(src="https://www.sendwithus.com/assets/img/emailmonks/images/spacer.gif" width="1" height="1" style="display:block;" border="0" alt="")
            tr
              td(height="14" style="font-size:1px; line-height:1px;")  
            tr
              td.em_font(align="center" style="font-family:'Open Sans', Arial, sans-serif; font-size:15px; line-height:18px; color:#30373b; text-transform:uppercase; font-weight:bold;")
                a(href=front + "/" target="_blank" style="text-decoration:none; color:#30373b;") Página Inicial
                |      |     
                a(href=front + "/signIn" target="_blank" style="text-decoration:none; color:#30373b;") entrar
                span.em_hide      |     
                span.em_br
                a(href="#" target="_blank" style="text-decoration:none; color:#30373b;") Fale Conosco
            tr
              td(height="14" style="font-size:1px; line-height:1px;")  
            tr
              td(height="1" bgcolor="#293592" style="font-size:0px; line-height:0px;")
                img(src="https://www.sendwithus.com/assets/img/emailmonks/images/spacer.gif" width="1" height="1" style="display:block;" border="0" alt="")
            // === //NEVIGATION SECTION ===
            // === IMG WITH TEXT AND COUPEN CODE SECTION ===
            tr
              td.em_aside(valign="top")
                table(width="100%" border="0" cellspacing="0" cellpadding="0")
                  tr
                    td.em_height(height="36")  
                  tr
                    td(valign="middle" align="center")
                      img.em_full_img(src=front + "/imgs/mail/welcome.png" width="233" height="303" alt="WELCOME" style="display:block; font-family:Arial, sans-serif; font-size:25px; line-height:303px; color:#c27cbb;max-width:333px;" border="0")
                  tr
                    td.em_height(height="41")  
                  tr
                    td(height="1" bgcolor="#293592" style="font-size:0px;line-height:0px;")
                      img(src="https://www.sendwithus.com/assets/img/emailmonks/images/spacer.gif" width="1" height="1" alt="" style="display:block;" border="0")
                  tr
                    td.em_height(height="35")  
                  tr
                    td(align="center" style="font-family:'Open Sans', Arial, sans-serif; font-size:15px; font-weight:bold; line-height:18px; color:#30373b;") Olá, #{name}
                  tr
                    td(height="22" style="font-size:1px; line-height:1px;")  
                  tr
                    td(align="center" style="font-family:'Open Sans', Arial, sans-serif; font-size:18px; font-weight:bold; line-height:20px; color:#293592;") Obrigado por se cadastrar!
                  tr
                    td(height="20" style="font-size:1px; line-height:1px;")  
                  tr
                    td.em_height(height="25")  
                  tr
                    td(align="center" style="font-family:'Open Sans', Arial, sans-serif; font-size:15px; line-height:22px; color:#999999;")
                      | Na ToppenStore você irá encontrar produtos únicos e das melhores marcas
                      br.em_hide
                      |                       Tudo para deixar a sua casa muito mais bonita e estilosa
                      br.em_hide
                      |                       confira nossos produtos e
                      br.em_hide
                      |                       Boas Compras!
                  tr
                    td.em_height(height="31")  
            // === //IMG WITH TEXT AND COUPEN CODE SECTION ===
      // === //BODY SECTION===
      // === FOOTER SECTION ===
      tr
        td.em_aside(align="center" valign="top" bgcolor="#30373b")
          table.em_main_table(width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="table-layout:fixed;")
            tr
              td.em_height(height="35")  
            tr
              td.em_height(height="22")  
            tr
              td(align="center" style="font-family:'Open Sans', Arial, sans-serif; font-size:12px; line-height:18px; color:#848789; text-transform:uppercase;")
                span(style="text-decoration:underline;")
                  a(href="#" target="_blank" style="text-decoration:underline; color:#848789;") Sobre nós
                |    |   
                span(style="text-decoration:underline;")
                  a(href="#" target="_blank" style="text-decoration:underline; color:#848789;") Políticas de Vendas
                span.em_hide    |   
                span.em_br
                span(style="text-decoration:underline;")
                  a(href="#" target="_blank" style="text-decoration:underline; color:#848789;") Políticas de Privacidade
            tr
              td(height="10" style="font-size:1px; line-height:1px;")  
            tr
              td(align="center" style="font-family:'Open Sans', Arial, sans-serif; font-size:12px; line-height:18px; color:#848789;text-transform:uppercase;")
                | ©2‌018 ToppenStore. All Rights Reserved.
            tr
              td(height="10" style="font-size:1px; line-height:1px;")  
            tr
              td.em_height(height="35")  
      // === //FOOTER SECTION ===
    div(style="display:none; white-space:nowrap; font:20px courier; color:#ffffff; background-color:#ffffff;")                                          
